<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
 
  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'news', item.id]">
      <ion-label text-wrap>
        <h3>{{ item.name }}</h3>
        {{ item.ket }}
      </ion-label>
    </ion-item>
 
  </ion-list>

  <ion-button color="primary" (click)='doloaddata($event)'>Load</ion-button>
 
</ion-content>